@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Prístup zamietnutý";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ej ty šuhaj, tu prístup nemáš, ty loptoš. :D</p>
</header>
