@page
@model LockoutModel
@{
    ViewData["Title"] = "Uzamknutý dnu";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Trošku sa ti zamkol účet... však si nespamoval niečo čo si nemal :3</p>
</header>
